$provider-header-height: 60px;
$provider-nav-tabbar-height: 38px;

#provider_app_container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  .provider-app-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: $provider-header-height;
    // background-color: $themeColor;
    color: #333;
    transition: background 0.3s ease;
    z-index: 11;
    &.has-app {
      // color: #FFF;
      // background-color: $themeColor;
    }
  }
  .pages-container {
    position: absolute;
    top: $provider-nav-tabbar-height;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
  }
}

#provider_app_content {
  position: absolute;
  top: $provider-header-height;
  right: 0;
  left: 0;
  bottom: 0;
}