@import './deer-ui/index.scss';
@import './layout.scss';

.app-nav {
  .ant-menu {
    border-bottom: none;
  }
}

.ant-menu-item {
  .link-btn {
    color: inherit;
  }
}

#table-info,
#menu-manager,
#dictionary-manager {
  margin: 0 auto;
  width: 100%;
  min-width: 990px;
  max-width: 1290px;
  // background-color: #FFF;
  padding: 20px;
}

#page-manager {
  height: 100%;
}
