.tabs-for-multiple-router {
  z-index: 1;
  margin-bottom: 5px;
  position: sticky;
  top: 0;
  // background-color: $base-bg-color;
  display: flex;
  background-color: #f7f7f7;

  .tab-item {
    position: relative;
  }

  .tab-item-btn {
    color: #777;
    display: inline-block;
    padding: 8px 24px;

    &.active {
      background-color: #FFF;
    }
  }

  .close-btn {
    background-color: transparent;
    position: absolute;
    // top: 0;
    transform: translateY(30%);
    right: 0;
    color: #777;
  }
}
