.rm-btn {
  position: absolute;
  right: 0;
  top: 50%;
  background-color: #FFF;
  z-index: 1;
  padding: 3px 10px;
}

.canvas-stage {
  padding: 10px;
}

.component-class-panel {
  padding: 10px;
  .drag-item-group {
    .drag-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .drag-comp-item {
        padding: 5px 20px;
        background-color: #fafafa;
        width: 47%;
        border: 1px solid #EEE;
      }
    }
  }
  .tabs-container .tab-group .tab .tab-label {
    padding: 10px;
  }
}

.comp-renderer {
  padding: 10px;
  background-color: #FFF;
  .form-title {
    margin-bottom: 10px;
    font-size: 16px;
  }
}

.dragable-item {
  position: relative;
  transition: box-shadow 0.2s ease;
  .drag-item {
    z-index: 1;
  }
  >.state-mark {
    z-index: 0;
  }
  &:hover {
    box-shadow: 0 0 3px rgba(#a6bcf8, 1);
    z-index: 2;
    .rm-btn {
      display: block;
    }
  }
  &.selected {
    box-shadow: 0 0 3px rgba(#376BFB, 1);
    z-index: 3;
  }
  .rm-btn {
    display: none;
  }
}