// color
@boderColor: #f0f0f0;
// font

// layout
body {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol, noto color emoji;
}
html,
body,
#root {
  height: 100%;
  box-sizing: border-box;
}

.app-container {
  box-sizing: border-box;
  display: flex;
  height: 100%;

  & > .menu {
    flex: 0 0 auto;
  }
  & > main {
    flex: 1 1 auto;
  }
}

.flex {
  display: flex;
}
.tree-box {
  flex: 0 0 300px;
  height: 100%;
}
.content {
  flex: 1;
  // 解决flex容器内容溢出的关键
  width: 0;
}

// common
.b1px {
  border: 1px solid @boderColor;
}

.bl1px {
  border-left: 1px solid @boderColor;
}

.pt20 {
  padding-top: 20px;
}

// shadow
